{% extends "base.html" %}
{% load static %}

{% block content %}

        <main class="context">
                {% for comment in comments %}
                <table class="table-of-context">
                    <tbody class="context-of-attributes">   
                        <tr>
                        <td> <a href="#" style="color: #828282;" >
                                <i class="fa-duotone fa-solid fa-caret-up" ></i>
                            </a>
                        </td>
                            <td>
                                {{ comment.by }}
                            </td>
                            <td>
                               <a href="#" class="lnk"> {{ comment.time }} ago</a>
                            </td>
                        </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td style="color: black; font-size: smaller; text-align: left;">
                            {{ comment.text |safe }}
                        </td>
                    </tr>
                </tbody>
            </table>
            {% endfor %}
                <table class="more">
                <tr>
                    <td style="padding-left: 25px;"></td>
                    <td>
                        More
                    </td>
                </tr>
            </table>
        </main>
       
{% endblock %}