{% extends "base.html" %}
{% load static %}

{% block content %}

        <main class="context">
            {% for story in stories %}
            <table class="table-of-context">
                <tbody class="t-body-of-context">
                    <tr>
                        <td class="number" style="color: #828282;">
                           {{ forloop.counter }}
                        </td>
                        <td> <a href="#" style="color: #828282;" >
                                <i class="fa-duotone fa-solid fa-caret-up" ></i>
                            </a>
                        </td>
                        <td  class="context-of-head"  >
                            <a href="{{ story.url }}" >
                            {{ story.title }}
                            </a>   
                        </td>
                        <td class="context-of-head-link lnk" style="color: #828282;">
                            <a href="{% url 'hackernews:stories_by_domain' story.domain %}" class="lnk">({{ story.domain }})</a>
                        </td>
                </tbody>
                </table>
                <table class="table-of-context">
                <tbody class="context-of-attributes">
                        <tr>
                            <td style="padding-left: 25px;">
                            </td>
                            <td >
                                {{ story.score }} point by 
                            </td>
                            <td>
                                <a href="#" class="lnk">{{ story.by }}</a>
                            </td>
                            <td>
                               <a href="#" class="lnk"> {{ story.time }} ago</a>
                            </td>
                            <td>
                                <a href="#" class="lnk">| hide</a>
                            </td>
                            <td>
                                <a href="#" class="lnk">|  {{ story.descendants }} comments</a>
                            </td>
                        </tr>
                    </tr>
                </tbody>
            </table>
            {% endfor %}
                <table class="more">
                <tr>
                    <td style="padding-left: 25px;"></td>
                    <td>
                        More
                    </td>
                </tr>
            </table>
        </main>
       
{% endblock %}