{% extends "base.html" %}
{% load static %}

{% block content %}
 {% for story in user_stories %}
    <table class="table-of-context">
        <tbody class="t-body-of-context">
            <tr>
                <td class="number" style="color: #828282;">
                    {{ forloop.counter }}
                </td>
                <td>
                    <a href="#" style="color: #828282;">
                        <i class="fa-duotone fa-solid fa-caret-up"></i>
                    </a>
                </td>
                <td class="context-of-head">
                    {% if story.url %}
                        <a href="{{ story.url }}">{{ story.title }}</a>
                    {% else %}
                        {{ story.title }}
                    {% endif %}
                </td>
                <td class="context-of-head-link lnk" style="color: #828282;">
                    <a href="#">(user-submitted)</a>
                </td>
            </tr>
        </tbody>
    </table>
    {% endfor %}

{% endblock %}