.container {
    /* background-color: #f6f6ef; */
    /* margin: 10px 20px 10px 20px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px 110px;
 

}

.homepage-header{
    background-color: #ff6600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: smaller;
    height: 26px;

}

.homepage-ul, .login {
    display: flex;
    list-style: none;
    padding: 0px;
}
.homepage-ul li{   
    padding: 0px;
}

.homepage-ul a, .login a{
    text-decoration: none;
    padding: 0px 3px 0px 3px;
    color: black;
    cursor: pointer;
}

.logo{
    border: 1px solid white;
    margin: -2px 2px -2px 4px;
}

.hacker-news {
    font-weight: bold;
}

.context, .footer-of-news{
    background-color:#f6f6ef ;
    color: #828282;
    padding-top: 10px;
}
.context p {
    font-size: smaller;
    padding-left: 10px;
}
.context-of-head a{
    font-size: small;
    color: black;

}
.context-of-head a:visited{
    color: #828282;
}
.lnk{
    color: #828282;
}
.number{
    font-size: small;
}

.table-of-context a{
    text-decoration: none; 
}

td{
    text-align: center;
    font-size: x-small;
    padding-left: 2px;
}

.context-of-attributes a:hover, .context-of-head-link a:hover{
    text-decoration: underline;
}

.more td{
    font-size: small;
    color: black;
    padding: 10px 0px;

}

.footer-of-news {
    border-top: 3px solid #ff6600;
    text-align: center;
    color:black;
    font-size: small;
}


.footer-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    list-style: none; 
}
.footer-of-news a{
    text-decoration: none;
    padding-left: 10px;
    color: black;
    
}

.footer-ul a{
    font-size: smaller;
}

.footer-of-news span{
    color: #828282;
}